@font-face {
    font-family: 'ubuntu-400';
    src: url(../assets/fonts/Ubuntu-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'ubuntu-500';
    src: url(../assets/fonts/Ubuntu-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'ubuntu-700';
    src: url(../assets/fonts/Ubuntu-Bold.ttf) format('truetype');
}
:root{
    /*=========Primary=========*/
    --marin-blue:hsl(213, 96%, 18%);
    --purplish-blue:hsl(243, 100%, 62%);
    --pastel-blue:hsl(228, 100%, 84%);
    --light-blue:hsl(206, 94%, 87%);
    --strawberry-red:hsl(354, 84%, 57%);
    /*==========neutral===========*/
    --cool-gray:hsl(231, 11%, 63%);
    --light-gray:hsl(229, 24%, 87%);
    --magnolia:hsl(217, 100%, 97%);
    --alabaster:hsl(231, 100%, 99%);
    --white:hsl(0, 0%, 100%);
    --paragraph-fz:16px;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}