@font-face {
    font-family: 'ubuntu-400';
    src: url(../assets/fonts/Ubuntu-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'ubuntu-500';
    src: url(../assets/fonts/Ubuntu-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'ubuntu-700';
    src: url(../assets/fonts/Ubuntu-Bold.ttf) format('truetype');
}
:root{
    /*=========Primary=========*/
    --marin-blue:hsl(213, 96%, 18%);
    --purplish-blue:hsl(243, 100%, 62%);
    --pastel-blue:hsl(228, 100%, 84%);
    --light-blue:hsl(206, 94%, 87%);
    --strawberry-red:hsl(354, 84%, 57%);
    /*==========neutral===========*/
    --cool-gray:hsl(231, 11%, 63%);
    --light-gray:hsl(229, 24%, 87%);
    --magnolia:hsl(217, 100%, 97%);
    --alabaster:hsl(231, 100%, 99%);
    --white:hsl(0, 0%, 100%);
    --paragraph-fz:16px;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
/*=============start styling=============*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--magnolia);
    min-height: 810px;
    font-family: 'ubuntu-400';
}
.form-container{
    width: 943px;
    /* height: 604px; */
    display: flex;
    background-color: var(--light-blue);
    padding: 1rem;
    border-radius: 1rem;
}
/*===========left container style=============*/
.left{
    width: 267px;
    height: 571px;
    background: url(/src/assets/images/bg-sidebar-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.step{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--white);
    padding: 0.5rem;
}
.current-step{
    border: 1px solid var(--cool-gray);
    border-radius: 0.5rem;
    cursor: pointer;
}
.step-number{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--light-blue);
    border-radius: 50%;
}
.step-name{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.step-no{
    color: var(--pastel-blue);
    text-transform: uppercase;
    font-size: 12px;
}
.step-title{
    font-size: 14px;
}
/*==============right-container style=========*/
.right{
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 2rem;
    padding-inline: 5rem;
    padding-top: 2rem;
}
/*========personal infos==============*/
.step-container,
.step-container form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.step-container form{
    gap: 1rem;
}
.step-heading{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.step-heading h1{
    font-size: 2rem;
    font-family: 'ubuntu-700';
    color: var(--marin-blue);
}
.step-heading p{
    color: var(--cool-gray);
    line-height: 1.5;
    font-size: 16px;
}
.step-container form input{
    height: 3rem;
    border-radius: 0.5rem;
    border: 0;
    outline: 0;
    padding-left: 1rem;
}
.step-container form span{
    color: var(--strawberry-red);
    font-size: 13px;
    font-style: italic;
    
}
.error{
    display: flex;
    justify-content: space-between;
}
.hide-error{
    display: none;
}
.disp-error{
    display: initial;
}
/*============select plan style===========*/
.card{
    display: flex;
    flex-direction: column;
    width: 9rem;
    min-height: 11.5rem;
    gap: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--cool-gray);
    cursor: pointer;
}
.selected-card{
    border: 1px solid var(--marin-blue);
}
.card img{
    width: 3rem;
    height: 3rem;
}
.card-body{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.card-title{
    font-family: 'ubuntu-700';
    color: var(--marin-blue);
    font-size: 1.2rem;
}
.option-price{
    color: var(--cool-gray);
}
.discount{
    color: var(--marin-blue);
}
.plan-options{
    display: flex;
    gap: 2rem;
}
.toggle-container{
    width: 100%;
    height: 3rem;
    background-color: hsl(231deg 73.71% 83.11%);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#toggle{
    display: none;
}
.toggle-inner{
    width: 4rem;
    display: block;
    height: 2rem;
    background-color: var(--marin-blue);
    border-radius: 1.5rem;
}
.toggle-button{
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--magnolia);
    border-radius: 2rem;
    position: absolute;
    transform: translate(0.2rem, -1.8rem);
    transition: left 0.3s;
    box-shadow: inset 11px 0px 5px 1px var(--cool-gray);
    transition: all 0.5s ease;
}
.monthly{
    color: var(--marin-blue);
}
.yearly{
    color: var(--cool-gray);
}
#toggle:checked ~ label .toggle-button{
    transform: translate(2.2rem, -1.8rem);
    transition: all 0.5s ease;
}
#toggle:checked ~ .yearly{
    color: var(--marin-blue);
}
#toggle:checked ~ .monthly{
    color: var(--cool-gray);
}
#toggle ~label{
    cursor: pointer;
}
/*===========add ons style============*/
.add-ons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.item{
    display: flex;
    gap: 2rem;
    align-items: center;
    border: 1px solid var(--cool-gray);
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.item input{
    background-color: var(--purplish-blue);
    width: 1.2rem;
    height: 1.2rem;
    outline: 0;
}
.selected-item{
    border: 2px solid var(--purplish-blue);
}
.addon-price{
    margin-left: auto;
    color: var(--purplish-blue);
}
.addon-text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.addon-text p{
    color: var(--cool-gray);
}
/*==============finishing up style===========*/
.recipe{
    background-color: var(--pastel-blue);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    gap: 1rem;
}
.display-plan{
    display: flex;
    justify-content: space-between;
    min-height: 3rem;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--purplish-blue);
}
.display-text{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.plan-name,
.plan-price{
    font-family: 'ubuntu-700';
    color: var(--marin-blue);
}
.change{
    color: var(--marin-blue);
    text-decoration: underline;
    cursor: pointer;
}
.display-addons{
    display: flex;
    justify-content: space-between;
    color: var(--cool-gray);
}
.addons-price{
    color: var(--marin-blue);
}
.total{
    display: flex;
    justify-content: space-between;
    color: var(--cool-gray);
    padding-inline: 1rem;
}
.total-number{
    font-family: 'ubuntu-700';
    color: var(--marin-blue);
    font-size: 1.5rem;
}
/*============footer style=============*/
footer{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    /* width: calc(100% - 5rem); */
}
footer button{
    width: 120px;
    height: 50px;
    background-color: var(--purplish-blue);
    font-family: 'ubuntu-500';
    color: white;
    font-size: 16px;
    border-radius: 0.5rem;
    border: 0;
}
footer button:hover{
    background-color: hsl(213, 62%, 31%);
    cursor: pointer;
}
.back{
    background-color: var(--pastel-blue);
    color: var(--marin-blue);
}
.hide-back{
    visibility: hidden;
}
.back:hover{
    background-color: hsl(228, 83%, 73%);
}